apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: pedidos-veloz
  labels:
    app: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: api-gateway
          image: ghcr.io/gguidiniz/api-gateway:latest
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
          envFrom:
            - configMapRef:
                name: services-config
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 15
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: pedidos-veloz
spec:
  selector:
    app: api-gateway
  ports:
    - port: 80
      targetPort: 5000
  type: LoadBalancer
